$mainColor: #ff6d00;
$secondColor: #FFB000;

$white: #fff;
$black: #333;

$orangeBack: rgba(255, 109, 0, 0.05);

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: $black;
}

// Font : 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

#main {
    color: $black;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

